body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: rgba(44, 44, 44);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  width: 100vw;
}

h1 {
  font-size: 3rem;
}

.layoutDiv {
  position: relative;
}

header {
  /* background-color: rgba(44, 44, 44, 0.4); */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  z-index: 1;
  right: 0;
  margin: 1rem;
}

nav {
  margin-right: 2rem;
  position: relative;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-left: 1rem;
}

header ul li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgb(14, 14, 14), 2px 2px 5px rgb(14, 14, 14),
    2px 2px 5px rgb(14, 14, 14);
  list-style: none;
  padding: 1rem;
}

/* a:visited {
    color: green;
  } */

header ul li a {
  text-decoration: none;
  color: whitesmoke;

  transition: 1s;
}

header ul li:hover {
  transform: scale(120%);
  transition: 1s;
}

footer {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  background-color: rgba(44, 44, 44, 0.9);
  padding-top: 2.3rem;
  padding-bottom: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
}

.pizzaVideo {
  position: 50% 70%;
  width: 100%;
  object-fit: fill;
  filter: grayscale(0.8) brightness(0.9);
}
