body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  /* background-color: rgba(44, 44, 44); */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  width: 100%;
  color: whitesmoke;
}

h1 {
  font-size: 3rem;
  color: whitesmoke;
}

nav div a {
  text-decoration: none;
}

.layoutDiv {
  position: relative;
}

header {
  background-color: rgba(44, 44, 44, 0.8);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  z-index: 1;
  right: 0;
}

nav {
  margin-right: 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-left: 5rem;
}

nav div h1 {
  text-shadow: 2px 2px 5px rgb(14, 14, 14), 2px 2px 5px rgb(14, 14, 14),
    2px 2px 5px rgb(14, 14, 14);
  margin: 1.5rem 0 1rem 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-left: 1rem;
}

header ul li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgb(14, 14, 14), 2px 2px 5px rgb(14, 14, 14),
    2px 2px 5px rgb(14, 14, 14);
  list-style: none;
  padding: 1rem;
}

header ul li a {
  text-decoration: none;
  color: whitesmoke;
  transition: 1s;
}

header ul li:hover {
  transform: scale(120%);
  transition: 1s;
}

/* MAIN AREA VIDEO*/

.videoContainer {
  position: relative;
}

.pizzaVideo {
  position: 50% 70%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(0.6) brightness(0.8);
}

.pizzaToppings {
  position: absolute;
  left: 4rem;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 2px 2px 5px rgb(14, 14, 14), 2px 2px 5px rgb(14, 14, 14),
    2px 2px 5px rgb(14, 14, 14);
}

.upperCrust {
  font-size: 4rem;
  margin: 0;
}

.deepDish {
  font-size: 1.2rem;
}

/* MAIN AREA RECIPES*/
.recipeGallery {
  padding: 8rem 0 3rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.galleryCard {
  width: 20rem;
  height: 15rem;
  background-color: aqua;
  margin: 1.5rem;
  padding: 1rem;
}

.galleryImage {
  width: 19rem;
  height: 10rem;
  object-fit: cover;
}

/* MIDDLEBAR AREA*/
h2 {
  text-align: center;
  color: black;
  margin: 1.5rem 0 1rem 0;
}
.middleBarDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem 2rem 2rem;
}

.carouselDiv {
  padding: 1rem;
  color: black;
  height: 7rem;
  width: 19rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(64, 64, 64, 0.5), 0 0 5px rgb(64, 64, 64, 0.5);
}

.carouselDiv h3 {
  text-align: left;
  margin: 0.5rem 0;
}

.carouselDiv a {
  color: rgb(157, 14, 121);
  text-decoration: none;
}

/* FOOTER AREA*/
footer {
  display: flex;
  justify-content: center;
  background-color: rgba(44, 44, 44);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
  position: sticky;
  bottom: 0;
  width: 100%;
}

footer a {
  color: whitesmoke;
  text-decoration: none;
}
